# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Udemy Courses\Advanced Java programming with JavaFx_Write an email client\Java Projects\JavaFx_Email_Client\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
